body {
    overscroll-behavior-x: none;
    overscroll-behavior-y: none;
    margin: 0px;
}

#menu {
    font-family: 'Montserrat', sans-serif;
    position: absolute;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-image: url("https://media.discordapp.net/attachments/770638690522890270/810586453969076254/bg.png");
    background-repeat: no-repeat;
    background-size: cover;
}

p {
    font-size: 40px;
}

#settings {
    position: absolute;
    width: 200px;
    height: 100px;
    background-color: #dbdbdb;
    bottom: 10px;
    left: 10px;
    border-radius: 10px;
    color: #404040;
}

#settings-text {
    font-size: 20px;
    margin-top: 13px;
}

#death-screen {
    display: none;
    font-size: 4rem;
    text-align: center;
    color: aliceblue;
    width: 100%;
    height: 100%;
    background-color: #069950;
    position: absolute;
}

#death-menu {
    position: relative;
    top: 16vh;
    font-family: 'Montserrat', sans-serif;
}

#return {
    width: 200px;
    height: 60px;
    font-size: 20px;
    transform: translate(-50%, 0);
}
#return:hover {
    cursor: pointer;
}

#time, #return, #ded {
    font-family: 'Montserrat', sans-serif;
}

#discord {
    position: absolute;
    height: 60px;
    right: 7px;
    top: 7px;
}
#discord:hover {
    cursor: pointer;
}

#playerCount {
    position: absolute;
    top: 0px;
    left: 20px;
    font-size: 1.2rem;
}

#title {
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    top: 0.5vh;
}
#logo {
    margin-top: 16vh;
    width: 30vw;
    height: auto;
}

#Menu {
    display: flex;
    text-align: center;
    color: aliceblue;
}
#playMenu {
    text-align: center;
    height: 100px;
}

#nameInput {
    margin-top: 10vh;
    text-indent: 10px;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5vw;
    width: 12vw;
    height: 6vh;
    font-weight: bold;
    color: white;
    background-color: #378056;
    border-color: #385243;
    border-radius: 1.2vw;
    border-width: 0.2vw;
    border-style: solid;
}
#nameInput::placeholder {
    font-weight: bold;
    color: white;
}
#nameInput:focus {
    outline: none;
    border-color: white;
    box-shadow: 0 0 1vw white;
}

#serverSelect {
    font-family: 'Montserrat', sans-serif;
    margin-top: 1.5vh;
    width: 10.5vw;
    height: 4vh;
    font-size: 0.8vw;
    color: white;
    font-weight: bold;
    background-color: #378056;
    border-color: #385243;
    border-radius: 0.4vw;
    border-width: 0.2vw;
    border-style: solid;
}
#serverSelect:focus {
    outline: none;
    border-color: white;
    box-shadow: 0 0 1vw white;
}

#playButton {
    font-family: 'Montserrat', sans-serif;
    margin-top: 1.5vh;
    width: 8vw;
    height: 6vh;
    font-size: 1.5vw;
    font-weight: bold;
    color: white;
    background-color: #30AE68;
    border-color: #385243;
    border-radius: 0.4vw;
    border-width: 0.2vw;
    border-style: solid;
}
#playButton:focus {
    outline: none;
    border-color: white;
    box-shadow: 0 0 1vw white;
}
#playButton:hover {
    cursor: pointer;
    opacity: 0.9;
}
#playButton:active {
    opacity: 0.8;
}

#gameArea {
    position: absolute;
    text-align: center;
    display: flex;
    justify-content: space-around;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
}

#commandInput {
    position: absolute;
    font-size: 1.2rem;
    margin-top: 24rem;
    height: 40px;
    visibility: hidden;
}