body {
    overscroll-behavior-x: none;
    overscroll-behavior-y: none;
    margin: 0px;
}

#menu {
    font-family: 'Montserrat', sans-serif;
    position: absolute;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-image: url("https://media.discordapp.net/attachments/772187679294226452/796039773559062558/unknown.png?width=705&height=396");
    background-repeat: no-repeat;
    background-size: cover;
}

p {
    font-size: 40px;
}

#Menu {
    display: flex;
    font-size: 4rem;
    text-align: center;
    color: aliceblue;
}

#playMenu {
    font-size: 60px;
    text-align: center;
    height: 100px;
}

#playButton {
    font-family: 'Montserrat', sans-serif;
    margin-top: 10px;
    width: 200px;
    height: 60px;
    font-size: 20px;
}
#playButton:hover {
    cursor: pointer;
}

#nameInput {
    text-indent: 10px;
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    margin-top: 10px;
    width: 200px;
    height: 60px;
}

#death-screen {
    display: none;
    font-size: 4rem;
    text-align: center;
    color: aliceblue;
    width: 100%;
    height: 100%;
    background-color: #069950;
    position: absolute;
}

#death-menu {
    position: relative;
    top: 25vh;
    font-family: 'Montserrat', sans-serif;
}

#return {
    margin-top: 10px;
    width: 200px;
    height: 60px;
    font-size: 20px;
}
#return:hover {
    cursor: pointer;
}

#time, #return, #ded {
    font-family: 'Montserrat', sans-serif;
}